.topnav-main-container {
  background: #1a1a1a;
  height: 30px;
  border-bottom: 2px solid #333;
  z-index: 10;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.topnav-left,
.topnav-right {
  width: 40%;
  height: 100%;
  min-width: 470px;
  padding: 0 0 0 10px;
  margin: 0 2px;
  font-size: 13px;
  color: whitesmoke;
  display: flex;
}

.topnav-left {
}

.topnav-left a {
  margin: auto 0;
  color: whitesmoke;
  border-right: 1px solid whitesmoke;
  padding: 0px 8px;
}

.topnav-right {
  align-content: center;
  justify-content: flex-end;
}

.topnav-right > div {
  margin: auto 0;
}

.topnav-right > div:first-child {
  height: 24px !important;
  display: flex;
  justify-content: center;
  justify-items: center;
  background: linear-gradient(90deg, #3023ae, #c86dd7) !important;
  border-radius: 2px !important;
  padding: 0px 8px;
}

.topnav-right > div:first-child * {
  margin: auto 2px;
}

.topnav-right > div:nth-child(2) {
  text-transform: uppercase;
  color: whitesmoke;
  margin: auto 1.5rem;
}

.topnav-right-icons * {
  margin: auto 2px;
  padding: 3px;
  font-size: 22px;
  color: rgb(112, 111, 114);
  border-radius: 50%;
  background-color: whitesmoke;
}

.topnav-right-icons * :hover {
  color: #1a1a1a;
  cursor: pointer;
}

.banner-main-container {
  width: 100%;
  height: 90px;
  padding: 10px 0;
  display: flex;
  background-color: #000;
}

.banner-main-container img {
  width: 500px;
  height: 40px;
  margin: 0 auto;
}

/* Navbar */

.navbar-main-container {
  background: #be2819;
  position: relative;
}

.links-container {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  height: 28px;
  padding: 0;
}

.links-container a {
  font-family: roboto, "Roboto", calibri, "arial narrow", sans-serif;
  font-size: 12px;
  padding: 1px 5px;
  line-height: 26px;
  color: #fff;
  font-weight: 700;
  text-transform: capitalize;
  display: inline-block;
  position: relative;
  z-index: 10;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.links-container a:hover,
#active-link {
  color: #000;
  font-weight: 600;
  background-color: #fff;
}

.links-container > div:first-child {
  display: flex;
}

.home-icon {
  color: #fff;
  font-size: 16px;
  margin: auto 5px;
}

.links-container > div:first-child:hover {
  background-color: rgba(255, 166, 0, 0.5);
  color: #be2819;
}
