/* Top nav */

.topnav-main-container {
  background: #1a1a1a;
  height: 30px;
  border-bottom: 2px solid #333;
  z-index: 10;
  box-sizing: border-box;
}

.topnav-content-cont {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

.topnav-left,
.topnav-right {
  width: fit-content;
  height: 100%;
  padding: 0 0 0 10px;
  margin: 0 2px;
  font-size: 13px;
  color: whitesmoke;
  display: flex;
}

.topnav-left-a {
  margin: auto 0;
  color: whitesmoke;
  border-right: 1px solid whitesmoke;
  padding: 0px 8px;
}

.topnav-right {
}

.topnav-right > div {
  margin: auto 0;
}

.topnav-right > div:first-child {
  height: 24px !important;
  display: flex;
  min-width: 250px;
  justify-content: center;
  justify-items: center;
  background: linear-gradient(90deg, #3023ae, #c86dd7) !important;
  border-radius: 2px !important;
  padding: 0px 8px;
}

.topnav-right > div:first-child * {
  margin: auto 2px;
}

.topnav-right > div:nth-child(2) {
  text-transform: uppercase;
  color: whitesmoke;
  margin: auto 1.5rem;
}

.topnav-right-icons * {
  margin: auto 2px;
  padding: 3px;
  font-size: 22px;
  color: rgb(112, 111, 114);
  border-radius: 50%;
  background-color: whitesmoke;
}

.topnav-right-icons * :hover {
  color: #1a1a1a;
  cursor: pointer;
}

.lang-drop-down {
  padding-top: 5.5px;
  display: block;
  position: relative;
}

.topnav-languages-div {
  display: none;
  background: #fff;
  position: absolute;
  left: 5px;
  top: 21px;
  padding: 5px 4px 0 4px;
  min-width: 80px;
  z-index: 14;
  border: 1px solid #bbb;
}

.topnav-languages-div a {
  display: block;
  color: #000;
  border-bottom: 1px solid #bbb;
  padding: 3px 4px;
}

.topnav-languages-div a:hover {
  background-color: rgba(210, 213, 248, 0.767);
}

.lang-drop-down:hover .topnav-languages-div {
  display: block;
}

.drop-down-icon {
  margin-top: -4px;
  font-size: 22px;
  transition: all 0.1s;
}

.drop-down-active {
  transform: rotate(180deg);
}

/* Banner */

.banner-main-container {
  width: 100%;
  min-height: 90px;
  height: 90px;
  padding: 10px 0;
  display: flex;
  background-color: #000;
}

.banner-main-container > img {
  width: 500px;
  height: 40px;
  margin: 0 auto;
}

/* Navbar */

.navbar-main-container {
  background: #be2819;
  position: sticky;
  top: 0;
  z-index: 12;
}

.navbar-content {
  max-width: 1000px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: auto;
}

.navbar-links-container {
  margin: 0;
  width: fit-content;
  display: flex;
}

.navbar-links-a {
  font-size: 14px;
  padding: 1px 5px;
  line-height: 26px;
  color: #fff;
  font-weight: 700;
  text-transform: capitalize;
  z-index: 10;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.navbar-links-a:hover,
#active-link {
  color: #000;
  font-weight: 600;
  background-color: #fff;
}

.navbar-links-container > div:first-child {
  display: flex;
}

.home-icon {
  color: #fff;
  font-size: 16px;
  margin: auto 5px;
  z-index: 10;
  transition: opacity 0.5s;
}

/* ddn = drop-down-news */

.home-drop-down-comp:hover {
  background-color: rgba(240, 189, 94, 0.479);
}

.home-drop-down-comp:hover .home-icon {
  color: #be2819;
}

.ddn-container {
  background: #fafafa;
  overflow: hidden;
  height: auto;
  width: 440px;
  display: none;
  min-height: 161px;
  padding: 15px 0;
  top: 29px;
  z-index: 155;
  box-shadow: 0 8px 20px rgba(156, 156, 156, 0.5);
  border-bottom: 4px solid #da0005;
  position: absolute;
}

.home-drop-down-comp:hover .ddn-container {
  display: flex;
}

.ddn-left {
  float: left;
  width: 120px;
  padding: 0px 0 55px 0;
}
.ddn-right {
  float: right;
  width: 320px;
  padding: 5px 10px;
  border-left: 1px solid #1e1e1e;
  padding-top: 0;
  min-height: inherit;
}

.ddn-left a {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #1e1e1e;
  text-transform: capitalize;
  width: fit-content;
  padding: 5px 14px 5px 16px;

  background: linear-gradient(to right, #da0005 50%, #fafafa 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.2s ease-out;
  position: relative;
}

.ddn-right-desc {
  padding: 5px 0;
  margin-left: 0px;
}

.ddn-right-desc li {
  list-style-position: inside;
  list-style-type: square;
  list-style: square inside red;
  line-height: 20px;
  width: 100%;
}

.ddn-left a:hover {
  color: #fafafa;
  background-position: left bottom;
}

/* Search Component */

.search-main-comp {
  background: rgb(42, 42, 42, 0.9);
  position: absolute;
  height: 0px;
  width: 100%;
  z-index: 101;
  display: flex;
  transition: all 0.5s;
}

.search-main-comp > div {
  transition: all 0.5s;
}

.search-main-comp > div:first-child {
  max-width: 1000px;
  padding: 20px 0;
  width: 100%;
  margin: auto;
  position: relative;
  display: flex;
  /* background-color: thistle; */
}

.search-form {
  display: flex;
  width: fit-content;
  margin: auto;
}

.search-form input[type="text"],
.search-form input[type="submit"] {
  display: inline-block;
  vertical-align: middle;
  border-radius: 2px;
  height: 40px;
  line-height: 40px;
}

.search-form input[type="text"] {
  width: 450px;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  background: #f7f7f7;
  padding: 0 10px;
  border: 0;
  margin-right: 10px;
  box-shadow: 0 0 3px #eaeaea inset;
}

.search-form input[type="submit"] {
  background: #c33;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  padding: 0px 20px;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
}

.cross-icon {
  position: absolute;
  /* background-color: tomato; */
  color: white;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.navbar-handle {
  position: relative;
}
