.app {
  background-color: aqua;
  text-align: center;
}

:root {
  --mainTransition: all .5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
}

/* span, p {
  word-spacing: 1.4px;
} */

a{
  text-decoration: none;
}

a:hover {
  text-decoration: none;

  cursor: pointer;
}