:root {
  --mainTransition: all 0.5s;
}
html {
  height: 100%;
}

.App {
  min-width: 1000px;
  height: 3350px;
}

#root {

  height: 100%;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
}

button,
input,
button:active,
button:focus {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .App, body {
    width: 1000px;
    overflow-x: scroll;
  }
}
